* {
  font-family: 'Glegoo', serif;
}

.body {
    background-color: sandybrown;
    max-width: 100%;
    overflow-x: hidden;
}

#logo {
    width: 101%;
    margin: -10px 0px -3px -10px;
}
.menu ul {
    list-style: none;
    background-color: #212121;
    padding: 0;
    margin-top: -5px;
    margin-left: -10px;
    margin-right: -10px;
}

.menu li, a {
    text-decoration: none;
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: bold;
    color: sandybrown;
    display: inline-block;
    padding: 10px 30px 10px 30px;
}

.menu li:hover {
    background: gray; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(black, gray); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, gray); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black, gray); /* For Firefox 3.6 to 15 */
    background: linear-gradient(black, gray); /* Standard syntax */}

#chairsImg {
    width: 102%;
    margin-left: -20px;
    margin-top: -16px;
}

.tables {
  text-align: center;
}


.table {
    font-size: 18px;
    text-align: center;
}

.table tr, td {
    padding: 10px 20px 10px 20px;
}

.tableTitle {
    font-size: 28px;
    font-weight: bold;
}

#phone {
    margin:auto;
}

.address {
    font-size: 20px;
    text-align: center;
}

#map {
  text-align: center;
}

#photos tr, td, img {
  width:240px;
  height: auto;
}

#photos {
  margin: auto;
  margin-top: 50px;
}

#gallery {
  font-size: 35px;
  font-weight: bold;
}

.only p{
  margin:auto;
  font-size: 18px;
  font-weight: bold;
}

.tables li{
    display: inline-block;
    vertical-align: top;
}

.info {
    text-align: center;
}

#fbDiv {
  text-align: center;
}

#fbImg {
    width: 100px;
    height: auto;
}

#fbImg:hover {
  transform: scale(1.25);
}

.aboutTitle {
    text-align: center;
    font-size: 55px;
}

.about {
    text-align: center;
    font-size: 28px;
    margin-left: 250px;
    margin-right: 250px;
}
